/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* ------------- RESETS ------------- */

*, *::before, *::after {
  box-sizing: border-box;
}

/* Remove default margin and padding */
* {
  margin: 0;
  padding: 0;
}

/* Inherit fonts for form controls */
input, button {
  font: inherit;
}

/* Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/* ---------------------------------- */

/* custom property definitions */
:root {
  --main-bg-color: white;
  --accent-color: rgb(53, 156, 240);
  --main-font-color: black;
  --close-button-red: rgba(255, 0, 0, 0.699);
}

html {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Roboto", "Franklin Gothic Medium", Tahoma, sans-serif;
}

div.header {
  display: flex;
  flex-direction: row;
  color: var(--main-bg-color);
  background-color: var(--accent-color);
  align-items: center;
  height: 3rem;
  padding: 2rem 1rem;
  box-shadow: 0.1rem 0.1rem 0.5rem 0.1rem rgba(0, 0, 0, 0.356);
}

button:hover,
input[type="submit"]:hover {
  cursor: pointer;
}

button#add-button {
  background-color: var(--accent-color);
  border-radius: 1rem;
  color: var(--main-bg-color);
  border: 0.2rem solid var(--main-bg-color);
  font-weight: bold;
  padding: 0.5rem;
  margin-left: auto;
}

button#add-button:hover {
  background-color: var(--main-bg-color);
  color: var(--accent-color);
  transition: 0.15s ease-in-out;
}

div.body {
  display: grid;
  padding: 1rem 1rem;
}

div.book-container {
  display: grid;
  grid-template-columns: 1fr;
  color: var(--main-font-color);
  font-size: 1.25rem;
  padding: 1rem 1rem;
  border-radius: 3rem;
  border: 0.25rem solid var(--accent-color);
  box-shadow: 0.15rem 0.15rem 0.5rem 0.1rem rgba(0, 0, 0, 0.356);
}

div.book-container > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.25rem;
}

div.book-container > div .label {
  width: 5rem;
}

div.book-container > div .content {
  width: 15rem;
}

/* Book container and "Add Book" Form buttons should have similar styles */
div.book-container .book-container-header button,
button.dialog-close-button {
  background-color: var(--main-bg-color);
  color: var(--close-button-red);
  border: 0.15rem solid var(--close-button-red);
  border-radius: 50%;
}

div.book-container .book-container-header button:hover,
button.dialog-close-button:hover {
  background-color: var(--close-button-red);
  color: var(--main-bg-color);
  transition: 0.15s ease-in-out;
}

div.book-container .book-container-header button {
  padding: 0 0.4rem;
}

button.dialog-close-button {
  padding: 0.2rem 0.4rem;
}

div.book-container .read-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} 

div.read-container button {
  background-color: var(--main-bg-color);
  border-radius: 1rem;
  color: var(--main-font-color);
  border: 0.2rem solid var(--main-font-color);
  padding: 0.5rem;
}

/* style for when hovering over "NOT READ" button*/
div.read-container button:hover {
  background-color: var(--main-font-color);
  color: var(--main-bg-color);
  transition: 0.15s ease-in-out;
}

/* style for when book has been read */
div.read-container button.read {
  background-color: lightgrey;
  border-radius: 1rem;
  color: grey;
  border: 0.2rem solid grey;
  padding: 0.5rem;
  transition: background-color 0.15s ease-in-out;
}

/* Add space between "Add Book" form inputs */
dialog#add-button-dialog input {
  margin-bottom: 0.25rem;
}

dialog#add-button-dialog input.dialog-submit-button {
  margin-bottom: 0;
  margin-top: 0.5rem;
  background-color: var(--main-bg-color);
  border-radius: 1rem;
  border: 0.2rem solid var(--accent-color);
  padding: 0.5rem;
}

dialog#add-button-dialog input.dialog-submit-button:hover {
  background-color: var(--accent-color);
  color: var(--main-bg-color);
  font-size: 1.5rem;
  transition: 0.15s ease-in-out;
}

/* Modal dialog box */
:modal {
  background-color: var(--main-bg-color);
  padding: 1rem 1rem;
  border: 0.3rem solid var(--accent-color);
  border-radius: 1rem;
  align-self: center;
  margin: auto;
}

:modal form {
  display: grid;
  grid-template-columns: 1fr;
}

:modal form .form-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Background Color for modal dialog popup */
::backdrop {
  background-color: black;
  opacity: 0.65;
}
